html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
  font: 400 1.6rem var(--body-text);
  color: var(--main-paragraph);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.preview-card {
  display: grid;
  grid-template-columns: 1fr 540px;
  max-width: 1110px;
  margin: 4rem;
  border-radius: 1rem;
  background-color: var(--card-background);
}

/* ============================== */

.preview-card .info {
  padding: 7rem 10rem 0 7rem;
}
.preview-card .info .heading {
  font: 700 3.6rem var(--heading);
  color: var(--main-heading-stats);
  margin-bottom: 3rem;
}
.preview-card .info .heading .highlight {
  color: var(--accent);
}
.preview-card .info .description {
  line-height: 1.7;
  font-size: 14px;
  margin-bottom: 7rem;
  padding-right: 3rem;
  letter-spacing: 0.3px;
}
/* ============================== */
.preview-card .info .media-stats {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  padding-right: 3.95rem;
}
.preview-card .info .media-stats .heading-stats {
  font: 700 2.5rem var(--heading);
  color: var(--main-heading-stats);
}
.preview-card .info .media-stats .description-stats {
  text-transform: uppercase;
  font-size: 1.4rem;
}

/* ============================== */

.preview-card picture {
  width: 100%;
}

.preview-card picture .image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 0 1rem 1rem 0;
}

/* ############################## */
.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
